body{
    margin: 0;
    padding: 0;
}

:root{
    --text-color: #667085;
    --main-color: #8E2424;
}

.navbar{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: hidden;
}

.navbar img{
    cursor: pointer;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation a{
    font-size: 1.2rem;
    margin-right: 2rem;
    color: var(--text-color);
    text-decoration: none;
}

.navigation a:hover{
    cursor: pointer;
    opacity: 0.7;
}

.navigation-actions{
    display: flex;
    justify-content: space-between;
}

.navigation-actions button{
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    margin-right: .5rem;
    background-color: #fff;
    color: var(--text-color);
}

.navigation-actions button#signUp{
    padding: 7px;
    background-color: var(--main-color);
    color: #fff;
}

.navigation-actions button:hover{
    cursor: pointer;
    opacity: .7;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 220px;
}

.about span{
    color: var(--main-color);
}

.about p{
    color: var(--text-color);
    font-size: 1.05rem;
    text-align: center;
}

.cards-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}

.cards{
    width: 18%;
}

.cards #title{
    font-size: 2.2rem;
    color: var(--main-color);
}
.cards #text{
    color: var(--text-color);
}

.vagas-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.vagas-info span{
    color: var(--main-color);
}

.vagas-info p{
    color: var(--text-color);
    font-size: 1.1rem;
}

.vagas-info img{
    width: 90%;
}

.vagas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.vaga-design, .vaga-dev{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: auto;
}

.vagas #design-title, .vagas #dev-title{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px 0px;
}

.vaga-card{
    margin: 10px 0px;
    border: 1px solid #aba8a8;
    border-radius: 2px;
    padding: 10px;
}

.vaga-card .title{
    font-weight: bold;
}

.vaga-card .content{
    color: var(--text-color);
}