body{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: hidden;
}

.navbar img{
    cursor: pointer;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation a{
    font-size: 1.2rem;
    margin-right: 2rem;
    color: #667085;
    text-decoration: none;
}

.navigation a:hover{
    cursor: pointer;
    opacity: 0.7;
}

.navigation-actions{
    display: flex;
    justify-content: space-between;
}

.navigation-actions button{
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    margin-right: .5rem;
    background-color: #fff;
    color: #667085;
}

.navigation-actions button#signUp{
    padding: 7px;
    background-color: #8E2424;
    color: #fff;
}

.navigation-actions button:hover{
    cursor: pointer;
    opacity: .7;
}